.tag-overall{
    position: absolute;
    height: 100%;
    width: 90%;
    display: flex;
    z-index: 50;
    max-width: 320px;
    right: 0;
    top: -10px;
    transition: all 2s ease;
    overflow-x: hidden;
}
.tag-overall .close-icon{
    margin-top: 30px;
    filter: invert(1);
    border-radius: 100% 0px 0px 100%;
    cursor: pointer;
    width: 30px;
    height: 30px;
    background: rgb(255, 255, 255);
    z-index: 40;
    padding: 10px;
    display: flex;
    padding-right: 5px;
}
.tag-overall .container{
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    background: white;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.053);
    height: 100%;
}
.tag-overall .head{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.083);
    padding-bottom: 20px;
    padding:15px 10px 15px 15px;
    overflow-x: hidden;
    cursor: pointer;
}
.tag-overall .head img{
    width: 12px;
    height: 12px;
    margin-right: 30px;
}
.tag-overall .head h1{
    font-weight: 400;
    font-size: 23px;
}
.tag-overall .tag-parent{
    display: flex;
    flex-direction: column;
    padding: 0px 15px;
    overflow-x: hidden;
    height: 100%;
}
.tag-overall .tag-parent > div{
    display: flex;
    align-items: center;
    padding: 15px 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.083);
    position: relative;
}
.tag-overall .tag-parent > div h2{
    padding: 5px;
    border: 1px solid rgba(0, 0, 255, 0.299);
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: 0;
    margin-right: 10px;
    text-transform: capitalize;
}
.tag-overall .tag-parent > div p{
    flex: 1;
    font-size: 18px;
    text-transform: capitalize;
}
.tag-overall .tag-parent > div img{
    width: 15px;
    height: 15px;
    cursor: pointer;
}
.tag-overall .tag-parent .option{
    display: flex;
    flex-direction: column;
    position: absolute;
    background: white;
    z-index: 2;
    width: 130px;
    top: 45px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.201);
    border-radius: 10px;
    right: 0px;
    display: none;
    padding: 5px;
}
.tag-overall .tag-parent .option > div{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    padding: 5px 15px;
}
.tag-overall .tag-parent .option > div:hover{
    background: rgba(146, 142, 142, 0.312);
    border-radius: 10px;
}
.tag-overall .tag-parent .option > div img{
    width: 10px;
    border: none !important;
    height: 10px;
}
.tag-overall .tag-parent .option > div p{
    height: auto;
    margin: 0;
    overflow: hidden;
    filter: opacity(1);
    font-size: 16px;
}
@media (max-width: 520px) {
    .tag-overall .head{
        padding: 20px 15px 15px 15px !important;
    }
}
@media (max-width: 1244px) {
    .tag-overall{
        position: fixed;
        right: 0;
        top: 0;
        height: 100%;
    }
}